

body{ /*background: #333 url("images/background.jpg");*/

background: url("images/background.jpg") no-repeat;
/*background-color:white;*/
width:100%;
height: 100%;
overflow-x: hidden;
overflow-y:hidden;}


#content{
/*background: #dbdbdb;
margin:0px 130px;
width:100%;
height: 100%;*/
/*background: url("images/overfade.png") no-repeat;*/
width: 100%;
    height: 100%;
    /*background-color: red;*/

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}


h1{
color:white;
}

#title {
/*background:white;*/
width:100%;
height:200px;
margin-top:450px;
margin-left:200px;
}

#titlebottom{
background:white;
width:100%;
height:100px;
margin-top:120px;
margin-left:200px;
}


#contentsecond{
/*background:white;*/
width:100%;
height:200px;
margin-top:2px;
margin-left:100px;
}
 

#topbar{ /*background: white;*/
float:left;
width: 100%;
height: 100px;
/*margin-right: 20px;
margin-top: -10px;*/ 
text-align: center;
position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
 }

 

 
#imgbar{  
width: 900px;
    height: 450px;
    /*background-color: red;*/

    position: relative;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}
#imgbar2{  
width: 900px;
    height: 450px;
    /*background-color: red;*/

    position: relative;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}
#imgbar3{  
width: 900px;
    height: 450px;
    /*background-color: red;*/

    position: relative;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

#imgbar4{  
width: 900px;
    height: 450px;
    /*background-color: red;*/

    position: relative;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

#imgbar5{  
width: 900px;
    height: 450px;
    /*background-color: red;*/

    position: relative;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

#imgbar6{  
width: 900px;
    height: 450px;
    /*background-color: red;*/

    position: relative;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

#imgbar7{  
width: 900px;
    height: 450px;
    /*background-color: red;*/

    position: relative;
    top:0px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

}

#underBar{

	width: 100%;
    height: 70px;
    /*background-color: #131416;*/
    position: relative;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;


}

a{
text-decoration:none;
text-align:left;
}
 
 

.image{ position: center;
margin-top: 10px;
margin-right:450px;
z-index: 10; 
/*width: 10%;*/
text-align: right;}

footer{ position: absolute;
/*bottom: px;*/
bottom: 0px;
height:200px;
margin-left:50px;
margin-bottom:50px;
/*float: bottom;*/

/*background: #dbdbdb;*/
height: 40px;
width: 100%;}

#nav { 

width: 100%;
list-style:none;
padding: 0;
margin: 0 0 3px 0;
text-align: left;
}

#nav li{ float:left;
list-style:none;
} 






@import url(http://fonts.googleapis.com/css?family=Varela+Round);

/*html, body { background: #333 url("http://codepen.io/images/classy_fabric.png"); }*/
/*html, body { background: #333 url("images/background.jpg"); }*/

.slides {
    padding: 0;
    width: 100%;
    height: 400px;
    display: block;
   /* margin: 0 auto;*/
	/*padding-left: 100px;
	margin-left:10px;
	margin-right:10px;*/
	
   
	
	position: relative;
    top:100px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
	
}

.slides * {


    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {

    top: 0;
    opacity: 0;
    width: 70%;
	margin-left:15%;
	margin-right:0px;
    height: 400px;
    display: block;
    position: absolute;
	

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {


    width: 100%;
    height: 100%;
}

.nav label {
    width: 100px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 50;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: black;
    font-size: 106pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    /*background-color: rgba(255, 255, 255, .3);*/
	background-color: #494949;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

   
 transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}


